openapi: 3.2.0
info:
  title: Agriinfodesign V1 Real Time API
servers:
- url: http://datastore.agribus-connect.net
  description: Generated server url
security:
- bearerAuth: []
tags:
- name: V1RealTime
paths:
  /v1/realtime/{username}/{deviceId}/{trackKey}:
    get:
      tags:
      - V1RealTime
      description: リアルタイム情報を取得
      operationId: getRealtimeInfos
      parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
      - name: deviceId
        in: path
        required: true
        schema:
          type: string
      - name: trackKey
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
      summary: Get realtime infos
      x-summary-source: derived
components:
  schemas:
    Crs:
      type: object
      properties:
        type:
          type: string
          enum:
          - name
          - link
        properties:
          type: object
          additionalProperties:
            type: string
            format: '2016-01-01T00:00:00.000Z'
    GeoJsonObject:
      required:
      - type
      type: object
      properties:
        crs:
          $ref: '#/components/schemas/Crs'
        bbox:
          type: array
          items:
            type: number
            format: double
        type:
          type: string
      discriminator:
        propertyName: type
    FeatureCollection:
      type: object
      allOf:
      - $ref: '#/components/schemas/GeoJsonObject'
      - type: object
        properties:
          features:
            type: array
            items:
              $ref: '#/components/schemas/Feature'
    Feature:
      type: object
      allOf:
      - $ref: '#/components/schemas/GeoJsonObject'
      - type: object
        properties:
          properties:
            type: object
            additionalProperties:
              type: string
              format: '2016-01-01T00:00:00.000Z'
          geometry:
            $ref: '#/components/schemas/GeoJsonObject'
          id:
            type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
