openapi: 3.2.0
info:
  title: Agriinfodesign V1 O Auth API
  description: OAuth関連API
servers:
- url: http://auth.agribus-connect.net
  description: Generated server url
security:
- bearerAuth: []
tags:
- name: V1OAuth
  description: OAuth関連API
paths:
  /v1/oauth:
    post:
      tags:
      - V1OAuth
      summary: OAuthLogin
      description: CognitoのOAuth認証で認証されたConnectユーザーのログイン（サインアップ直後であればConnectユーザーへの紐付け）を行います。
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthLoginRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TokenResponse'
  /v1/oauth/password:
    post:
      tags:
      - V1OAuth
      summary: OAuthユーザのパスワードを新規作成する
      operationId: createNewPassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthCreateNewPasswordRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'
components:
  schemas:
    OAuthCreateNewPasswordRequest:
      required:
      - newPassword
      type: object
      properties:
        newPassword:
          type: string
          description: 新しいパスワード
    UserPicture:
      type: object
      properties:
        icon:
          type: string
          enum:
          - Default|https://s3-ap-northeast-1.amazonaws.com/agri-info-design-public/icons/ic_person_black_48dp.png
          - Gravatar|null
          - Custom|null
        url:
          type: string
    OAuthLoginRequest:
      type: object
      properties:
        email:
          type: string
        language:
          type: string
          description: 言語。en、jaなど
        zoneinfo:
          type: string
          description: タイムゾーン。Asia/Tokyoなど
        username:
          type: string
          description: Cognitoのusername。ただしGoogleOAuthでサインアップした場合は、CognitoがGoogleログインフェデレーションで生成したユーザーID
        nickname:
          type: string
          description: Cognitoのnickname。ただしGoogleOAuthでサインアップした場合は、Googleから渡された氏名
    UserInfo:
      type: object
      properties:
        username:
          type: string
        nickname:
          type: string
        email:
          type: string
        language:
          type: string
        zoneinfo:
          type: string
        sendMeNews:
          type: boolean
        systemOfUnits:
          type: string
          enum:
          - Metric
          - Imperial
          - JpUnitsOfArea
          - ThUnitsOfArea
        icon:
          $ref: '#/components/schemas/UserPicture'
        iconUrl:
          type: string
        customIconUrl:
          type: string
        stripeId:
          type: string
        trialAvailable:
          type: boolean
          description: トライアル可能かどうかを示します。何度もトライアルを繰り返さないようにするためです。
        systemAdmin:
          type: boolean
          description: システム管理者かどうかを示します。
        functionality:
          type: string
          description: Functionalityを示します。
          enum:
          - AsFree
          - AsPlus
          - AsProfessional
          - Custom
          - AsStandard
        fsMigrated:
          type: boolean
          description: Fire移行が完了しているかどうかを示します。
        enforcedPlan:
          type: string
          description: 強制指定されたプランを示します。
          enum:
          - Free
          - Standard
          - Enterprise
          - Plus
          - Professional
        passwordEntered:
          type: boolean
          description: OAuthユーザーの場合に、パスワードがセットされているかどうかを示します。
        oauthUser:
          type: boolean
    TokenResponse:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type:
          - string
          - 'null'
        accessTokenExpiredAt:
          type: string
          format: '2016-01-01T00:00:00.000Z'
        refreshTokenExpiredAt:
          type: string
          format: '2016-01-01T00:00:00.000Z'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
