openapi: 3.2.0
info:
  title: Agriinfodesign Poc Noki Open API
servers:
- url: http://datastore.agribus-connect.net
  description: Generated server url
security:
- bearerAuth: []
tags:
- name: PocNokiOpenApi
paths:
  /poc/devices/{device_id}/locations:
    get:
      tags:
      - PocNokiOpenApi
      operationId: getLocationByDeviceId
      parameters:
      - name: device_id
        in: path
        required: true
        schema:
          type: string
      - name: since
        in: query
        required: false
        schema:
          type: string
      - name: until
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: sort
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FeatureCollection'
      deprecated: true
      summary: Get location by device id
      x-summary-source: derived
components:
  schemas:
    Crs:
      type: object
      properties:
        type:
          type: string
          enum:
          - name
          - link
        properties:
          type: object
          additionalProperties:
            type: string
            format: '2016-01-01T00:00:00.000Z'
    GeoJsonObject:
      required:
      - type
      type: object
      properties:
        crs:
          $ref: '#/components/schemas/Crs'
        bbox:
          type: array
          items:
            type: number
            format: double
        type:
          type: string
      discriminator:
        propertyName: type
    FeatureCollection:
      type: object
      allOf:
      - $ref: '#/components/schemas/GeoJsonObject'
      - type: object
        properties:
          features:
            type: array
            items:
              $ref: '#/components/schemas/Feature'
    Feature:
      type: object
      allOf:
      - $ref: '#/components/schemas/GeoJsonObject'
      - type: object
        properties:
          properties:
            type: object
            additionalProperties:
              type: string
              format: '2016-01-01T00:00:00.000Z'
          geometry:
            $ref: '#/components/schemas/GeoJsonObject'
          id:
            type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
