openapi: 3.2.0
info:
  description: AgriBus-Web Manager API
  version: 0.0.1
  title: AgriBus-Web Manager User V1 API
  termsOfService: http://agri-info-design.com/
  license:
    name: Some License
    url: http://agri-info-design.com/
servers:
- url: https://manager.agribus-connect.net/
tags:
- name: User V1
  description: V 1 User Controller
paths:
  /v1/user/:
    get:
      tags:
      - User V1
      summary: getUser
      description: ユーザー情報を取得します
      operationId: getUserInfoUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/UserInfo'
    put:
      tags:
      - User V1
      summary: updateUser
      description: ユーザー情報を更新します。変更できるのはnickname,sendMeNewsのみです。NAVIのoAuthサインアップ時のみ呼び出されます
      operationId: updateUserUsingPUT
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/UserInfo'
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/EditUserRequest'
        description: request
        required: true
  /v1/user/confirm:
    post:
      tags:
      - User V1
      summary: confirmSignUp
      description: AgriBus-Webへのサインアップを確認します
      operationId: confirmUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/UserInfo'
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/ConfirmRequest'
        description: request
        required: true
  /v1/user/icon:
    put:
      tags:
      - User V1
      summary: updateIcon
      description: アイコンを設定する
      operationId: updateIconUsingPUT
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/UpdateIconRequest'
        description: request
        required: true
  /v1/user/icon/custom:
    post:
      tags:
      - User V1
      summary: uploadIconImage
      description: アイコン画像をアップロードする
      operationId: uploadIconImageUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/UploadIconImageResult'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                img:
                  type: string
                  description: img
              required:
              - img
  /v1/user/inquire:
    put:
      tags:
      - User V1
      summary: inquire
      description: 問い合わせる
      operationId: inquireUsingPUT
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/InquiryResponse'
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/InquiryRequest'
        description: request
        required: true
  /v1/user/password:
    post:
      tags:
      - User V1
      summary: createPassword
      description: OAuthユーザのパスワードを新規作成する
      operationId: createPasswordUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/UserInfo'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePasswordRequest'
        description: request
        required: true
    put:
      tags:
      - User V1
      summary: changePassword
      description: パスワードを変更します。
      operationId: changePasswordUsingPUT
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/UserInfo'
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
        description: request
        required: true
  /v1/user/password/reset:
    put:
      tags:
      - User V1
      summary: resetPassword
      description: パスワードをリセットします。リセット確認メールが送信されます。
      operationId: resetPasswordUsingPUT
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
        description: request
        required: true
  /v1/user/password_entered:
    get:
      tags:
      - User V1
      summary: passwordEntered
      description: Userのパスワードがセットされているか確認する
      operationId: passwordEnteredUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                type: boolean
  /v1/user/reset_double_billing:
    post:
      tags:
      - User V1
      summary: resetDoubleBilling
      description: 重複課金が解消されたユーザの重複課金対応フラグをfalseにします
      operationId: resetDoubleBillingUsingPOST
      responses:
        '200':
          description: OK
  /v1/user/signup:
    post:
      tags:
      - User V1
      summary: signUp
      description: AgriBus-Webにサインアップします
      operationId: signupUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/UserInfo'
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/SignUpRequest'
        description: request
        required: true
components:
  schemas:
    ChangePasswordRequest:
      type: object
      required:
      - currentPassword
      - newPassword
      properties:
        currentPassword:
          type: string
          description: 現在のパスワード
        newPassword:
          type: string
          description: 新しいパスワード
    ConfirmRequest:
      type: object
      required:
      - confirmationCode
      - secureToken
      - username
      properties:
        confirmationCode:
          type: string
        secureToken:
          type: string
        username:
          type: string
    PurchaseInfo:
      type: object
      properties:
        activeSubscriptionCount:
          type: integer
          format: int32
        autoRenewing:
          type: boolean
        billingVendor:
          type: string
          enum:
          - Google
          - Stripe
        plan:
          type: string
          enum:
          - Free
          - Standard
          - Enterprise
          - Plus
          - Professional
        planEnforced:
          type: boolean
        planExpiredAt:
          type: string
        planStartedAt:
          type: string
        purchases:
          type: array
          items:
            $ref: '#/components/schemas/Purchase'
        subscriptionId:
          type: string
        subscriptionIdForFunctionality:
          type: string
        trial:
          type: boolean
    EditUserRequest:
      type: object
      properties:
        language:
          type: string
          description: 言語
        nickname:
          type: string
          description: ニックネーム
        sendMeNews:
          type: boolean
          description: メルマガ受信
        systemOfUnits:
          type: string
          description: 単位
    CreatePasswordRequest:
      type: object
      required:
      - newPassword
      properties:
        newPassword:
          type: string
          description: 新しいパスワード
    UploadIconImageResult:
      type: object
      properties:
        url:
          type: string
    SignUpRequest:
      type: object
      required:
      - email
      - password
      properties:
        email:
          type: string
          description: Eメール
        language:
          type: string
          description: 表示言語・en/ja
        metaData:
          type: object
          description: ユーザーメタデータ
          additionalProperties:
            type: object
        nickname:
          type: string
          description: ニックネーム
        password:
          type: string
        region:
          type: string
          description: リージョン（your-region.agribus-connect.net を利用して調べてください）
        sendMeNews:
          type: boolean
          description: メルマガ受信
        zoneinfo:
          type: string
          description: タイムゾーン
    UserInfo:
      type: object
      properties:
        calclatedPlan:
          type: string
          description: 後方互換性を保つためだけにあります。値はセットされることがありません。常にnullです。計算済みプランはpurchaseInfo#planを利用してください。
          enum:
          - Free
          - Standard
          - Enterprise
          - Plus
          - Professional
        customIconUrl:
          type: string
        email:
          type: string
        functionality:
          type: string
          enum:
          - AsFree
          - AsStandard
          - AsPlus
          - AsProfessional
        icon:
          type: string
          enum:
          - Default|https://s3-ap-northeast-1.amazonaws.com/agri-info-design-public/icons/ic_person_black_48dp.png
          - Gravatar|null
          - Custom|null
        iconUrl:
          type: string
        impersonatingNickname:
          type: string
        impersonatingUsername:
          type: string
        isEnterprise:
          type: boolean
        isFsMigrated:
          type: boolean
        isPayer:
          type: boolean
        language:
          type: string
        name:
          type: string
        nickname:
          type: string
        purchaseInfo:
          $ref: '#/components/schemas/PurchaseInfo'
        region:
          type: string
        sendMeNews:
          type: boolean
        sharedMountPoint:
          type: string
        stripeId:
          type: string
        systemAdmin:
          type: boolean
        systemOfUnits:
          type: string
          enum:
          - Metric
          - Imperial
        trialAvailable:
          type: boolean
        username:
          type: string
        zoneinfo:
          type: string
    Purchase:
      type: object
      properties:
        amountPaid:
          type: integer
          format: int64
        autoRenewing:
          type: boolean
        billingVendor:
          type: string
          enum:
          - Google
          - Stripe
        collectionMethod:
          type: string
        currency:
          type: string
        expiredAt:
          type: string
          example: '2016-01-01T00:00:00.000Z'
        invoiceId:
          type: string
        invoiceUrl:
          type: string
        orderId:
          type: string
        planId:
          type: string
        startedAt:
          type: string
          example: '2016-01-01T00:00:00.000Z'
        state:
          type: string
          enum:
          - Paid
          - Trial
          - NotPaid
          - Canceled
        subscriptionId:
          type: string
    ResetPasswordRequest:
      type: object
      required:
      - email
      properties:
        email:
          type: string
          description: Eメール
    UpdateIconRequest:
      type: object
      properties:
        base64EncordedImage:
          type: string
          description: Base64エンコードされた画像
        icon:
          type: string
          enum:
          - Default|https://s3-ap-northeast-1.amazonaws.com/agri-info-design-public/icons/ic_person_black_48dp.png
          - Gravatar|null
          - Custom|null
        preset:
          type: string
          enum:
          - Preset1
          - Preset2
          - Preset3
          - Preset4
          - Preset5
          - Preset6
    InquiryRequest:
      type: object
      required:
      - content
      - type
      properties:
        content:
          type: string
          description: 問い合わせの内容
        type:
          type: string
          description: 問い合わせの種類
          enum:
          - QUIT
    InquiryResponse:
      type: object
      required:
      - number
      properties:
        number:
          type: string
          description: お問い合わせ番号
  securitySchemes:
    mykey:
      type: apiKey
      name: mykey
      in: header
