openapi: 3.2.0
info:
  description: AgriBus-Web Manager API
  version: 0.0.1
  title: AgriBus-Web Manager User V2 API
  termsOfService: http://agri-info-design.com/
  license:
    name: Some License
    url: http://agri-info-design.com/
servers:
- url: https://manager.agribus-connect.net/
tags:
- name: User v2
  description: V 2 User Controller
paths:
  /v2/user/:
    post:
      tags:
      - User v2
      summary: simpleSignUpForWeb
      description: Webから簡易サインアップします
      operationId: signupForWebUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/UserInfo'
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/SimpleSignUpRequest'
        description: request
        required: true
    put:
      tags:
      - User v2
      summary: updateUser
      description: ユーザー情報を更新します。変更する項目はnickname,sendMeNews,language,systemOfUnitsです。
      operationId: updateUserUsingPUT_1
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/UserInfo'
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/EditUserRequest'
        description: request
        required: true
  /v2/user/confirm:
    post:
      tags:
      - User v2
      summary: simpleSignUpConfirm
      description: 簡易サインアップのConfirmです。これで完全登録になります。
      operationId: confirmUsingPOST_1
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/UserInfo'
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/SimpleSignUpConfirmRequest'
        description: request
        required: true
  /v2/user/groups:
    get:
      tags:
      - User v2
      summary: getUserGroupsInfo
      description: ユーザーが所属するグループ情報を取得します
      operationId: getUserGroupsInfoUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/UserGroupsInfo'
  /v2/user/new:
    post:
      tags:
      - User v2
      summary: simpleSignUp
      description: 簡易サインアップします
      operationId: signupUsingPOST_1
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/UserInfo'
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/SimpleSignUpRequest'
        description: request
        required: true
  /v2/user/{username}:
    get:
      tags:
      - User v2
      summary: getUser
      description: 指定したユーザーのユーザー情報を取得します
      operationId: getUserInfoUsingGET_1
      parameters:
      - name: username
        in: path
        description: username
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/UserInfo'
components:
  schemas:
    SimpleSignUpRequest:
      type: object
      required:
      - email
      properties:
        email:
          type: string
          description: Eメール
        language:
          type: string
          description: 表示言語・en/ja
        metaData:
          type: object
          description: ユーザーメタデータ
          additionalProperties:
            type: object
        region:
          type: string
          description: リージョン（your-region.agribus-connect.net を利用して調べてください）
        zoneinfo:
          type: string
          description: タイムゾーン
    UserGroupInfo:
      type: object
      properties:
        name:
          type: string
    PurchaseInfo:
      type: object
      properties:
        activeSubscriptionCount:
          type: integer
          format: int32
        autoRenewing:
          type: boolean
        billingVendor:
          type: string
          enum:
          - Google
          - Stripe
        plan:
          type: string
          enum:
          - Free
          - Standard
          - Enterprise
          - Plus
          - Professional
        planEnforced:
          type: boolean
        planExpiredAt:
          type: string
        planStartedAt:
          type: string
        purchases:
          type: array
          items:
            $ref: '#/components/schemas/Purchase'
        subscriptionId:
          type: string
        subscriptionIdForFunctionality:
          type: string
        trial:
          type: boolean
    EditUserRequest:
      type: object
      properties:
        language:
          type: string
          description: 言語
        nickname:
          type: string
          description: ニックネーム
        sendMeNews:
          type: boolean
          description: メルマガ受信
        systemOfUnits:
          type: string
          description: 単位
    UserInfo:
      type: object
      properties:
        calclatedPlan:
          type: string
          description: 後方互換性を保つためだけにあります。値はセットされることがありません。常にnullです。計算済みプランはpurchaseInfo#planを利用してください。
          enum:
          - Free
          - Standard
          - Enterprise
          - Plus
          - Professional
        customIconUrl:
          type: string
        email:
          type: string
        functionality:
          type: string
          enum:
          - AsFree
          - AsStandard
          - AsPlus
          - AsProfessional
        icon:
          type: string
          enum:
          - Default|https://s3-ap-northeast-1.amazonaws.com/agri-info-design-public/icons/ic_person_black_48dp.png
          - Gravatar|null
          - Custom|null
        iconUrl:
          type: string
        impersonatingNickname:
          type: string
        impersonatingUsername:
          type: string
        isEnterprise:
          type: boolean
        isFsMigrated:
          type: boolean
        isPayer:
          type: boolean
        language:
          type: string
        name:
          type: string
        nickname:
          type: string
        purchaseInfo:
          $ref: '#/components/schemas/PurchaseInfo'
        region:
          type: string
        sendMeNews:
          type: boolean
        sharedMountPoint:
          type: string
        stripeId:
          type: string
        systemAdmin:
          type: boolean
        systemOfUnits:
          type: string
          enum:
          - Metric
          - Imperial
        trialAvailable:
          type: boolean
        username:
          type: string
        zoneinfo:
          type: string
    Purchase:
      type: object
      properties:
        amountPaid:
          type: integer
          format: int64
        autoRenewing:
          type: boolean
        billingVendor:
          type: string
          enum:
          - Google
          - Stripe
        collectionMethod:
          type: string
        currency:
          type: string
        expiredAt:
          type: string
          example: '2016-01-01T00:00:00.000Z'
        invoiceId:
          type: string
        invoiceUrl:
          type: string
        orderId:
          type: string
        planId:
          type: string
        startedAt:
          type: string
          example: '2016-01-01T00:00:00.000Z'
        state:
          type: string
          enum:
          - Paid
          - Trial
          - NotPaid
          - Canceled
        subscriptionId:
          type: string
    UserGroupsInfo:
      type: object
      properties:
        userGroups:
          type: array
          items:
            $ref: '#/components/schemas/UserGroupInfo'
    SimpleSignUpConfirmRequest:
      type: object
      required:
      - confirmationCode
      - newPassword
      - nickName
      - secureToken
      - sendMeNews
      - username
      properties:
        confirmationCode:
          type: string
        newPassword:
          type: string
        nickName:
          type: string
        secureToken:
          type: string
        sendMeNews:
          type: boolean
        username:
          type: string
  securitySchemes:
    mykey:
      type: apiKey
      name: mykey
      in: header
