openapi: 3.2.0
info:
  title: Agriinfodesign V1 Stripe API
  description: Stripe関係のAPI
servers:
- url: http://pay.agribus-connect.net
  description: Generated server url
security:
- bearerAuth: []
tags:
- name: V1Stripe
  description: Stripe関係のAPI
paths:
  /v1/stripe/subscriptions/{subscriptionId}/{planId}:
    put:
      tags:
      - V1Stripe
      description: プランのアップグレード/ダウングレード
      operationId: changePlan
      parameters:
      - name: subscriptionId
        in: path
        required: true
        schema:
          type: string
      - name: planId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      summary: Change plan
      x-summary-source: derived
  /v1/stripe/subscriptions/payment_method/{subscriptionId}/{paymentMethodType}:
    put:
      tags:
      - V1Stripe
      description: 支払い方法の変更
      operationId: changePaymentMethodType
      parameters:
      - name: subscriptionId
        in: path
        required: true
        schema:
          type: string
      - name: paymentMethodType
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCardRequest'
        required: true
      responses:
        '200':
          description: OK
      summary: Change payment method type
      x-summary-source: derived
  /v1/stripe/customer/name:
    put:
      tags:
      - V1Stripe
      description: Customerの名前更新
      operationId: updateCustomerName
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStripeCustomerNameRequest'
        required: true
      responses:
        '200':
          description: OK
      summary: Update customer name
      x-summary-source: derived
  /v1/stripe/customer/email:
    put:
      tags:
      - V1Stripe
      description: Customerのメールアドレス更新
      operationId: updateCustomerEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStripeCustomerEmailRequest'
        required: true
      responses:
        '200':
          description: OK
      summary: Update customer email
      x-summary-source: derived
  /v1/stripe/card/{cardId}:
    put:
      tags:
      - V1Stripe
      description: Stripeで利用するデフォルトのクレカを選択します
      operationId: selectCard
      parameters:
      - name: cardId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      summary: Select card
      x-summary-source: derived
    delete:
      tags:
      - V1Stripe
      description: Stripeからクレカを削除します
      operationId: deleteCard
      parameters:
      - name: cardId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      summary: Delete card
      x-summary-source: derived
  /v1/stripe/subscriptions/{subscriptionId}:
    post:
      tags:
      - V1Stripe
      description: サブスクリプションを解約します。トライアル期間中は即時解約ですが、本契約期間中の途中解約は支払い済みの期間はスタンダード有効であり、期間が終了したら自動終了となります。
      operationId: unsubscribe
      parameters:
      - name: subscriptionId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      summary: Unsubscribe
      x-summary-source: derived
  /v1/stripe/subscription:
    post:
      tags:
      - V1Stripe
      description: サブスクリプション開始。
      operationId: subscribe
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StripeSubscribeRequest'
        required: true
      responses:
        '200':
          description: OK
      summary: Subscribe
      x-summary-source: derived
  /v1/stripe/card:
    post:
      tags:
      - V1Stripe
      description: Stripeにクレカを登録します
      operationId: addCard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCardRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StripeInfo'
      summary: Add card
      x-summary-source: derived
  /v1/stripe/plans:
    get:
      tags:
      - V1Stripe
      description: 支払いプランのリストを取得します
      operationId: listBillingPlans
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StripePlan'
      summary: List billing plans
      x-summary-source: derived
  /v1/stripe/invoices:
    get:
      tags:
      - V1Stripe
      description: 請求情報を取得します
      operationId: getInvoices
      responses:
        '200':
          description: OK
      deprecated: true
      summary: Get invoices
      x-summary-source: derived
  /v1/stripe/invoices/upcoming:
    get:
      tags:
      - V1Stripe
      description: 現在期間の請求情報を取得します
      operationId: getInvoicesUpcoming
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StripeInvoice'
      deprecated: true
      summary: Get invoices upcoming
      x-summary-source: derived
  /v1/stripe/info:
    get:
      tags:
      - V1Stripe
      description: Userに紐づいたStripe情報を取得します
      operationId: getInfo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StripeInfo'
      summary: Get info
      x-summary-source: derived
  /v1/stripe/coupons:
    get:
      tags:
      - V1Stripe
      description: クーポン一覧を取得します
      operationId: listCoupons
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Coupon'
      summary: List coupons
      x-summary-source: derived
components:
  schemas:
    JsonNull:
      type: object
      properties:
        asString:
          type: string
        asInt:
          type: integer
          format: int32
        asDouble:
          type: number
          format: double
        asLong:
          type: integer
          format: int64
        asBoolean:
          type: boolean
        asJsonObject:
          $ref: '#/components/schemas/JsonObject'
        jsonObject:
          type: boolean
        jsonPrimitive:
          type: boolean
        jsonArray:
          type: boolean
        jsonNull:
          type: boolean
        asJsonArray:
          $ref: '#/components/schemas/JsonArray'
        asJsonPrimitive:
          $ref: '#/components/schemas/JsonPrimitive'
        asJsonNull:
          $ref: '#/components/schemas/JsonNull'
        asNumber:
          type: number
        asFloat:
          type: number
          format: float
        asByte:
          type: string
          format: byte
        asCharacter:
          type: string
          deprecated: true
        asBigDecimal:
          type: number
        asBigInteger:
          type: integer
        asShort:
          type: integer
          format: int32
    AppliesTo:
      type: object
      properties:
        products:
          type: array
          items:
            type: string
        lastResponse:
          $ref: '#/components/schemas/StripeResponse'
        rawJsonObject:
          $ref: '#/components/schemas/JsonObject'
    AddCardRequest:
      required:
      - stripeCardName
      - stripeToken
      type: object
      properties:
        stripeToken:
          type: string
        stripeCardName:
          type: string
    StripeCard:
      type: object
      properties:
        defaultCard:
          type: boolean
        id:
          type: string
        brand:
          type: string
        name:
          type: string
        last4:
          type: string
        expMonth:
          type: integer
          format: int32
        expYear:
          type: integer
          format: int32
    CurrencyOption:
      type: object
      properties:
        amountOff:
          type: integer
          format: int64
        lastResponse:
          $ref: '#/components/schemas/StripeResponse'
        rawJsonObject:
          $ref: '#/components/schemas/JsonObject'
    StripePlan:
      type: object
      properties:
        id:
          type: string
        plan:
          type: string
          enum:
          - Free
          - Standard
          - Enterprise
          - Plus
          - Professional
        productId:
          type: string
        active:
          type: boolean
        amount:
          type: number
        currency:
          type: string
          enum:
          - jpy
          - usd
        interval:
          type: string
          enum:
          - day
          - week
          - month
          - year
        intervalCount:
          type: integer
          format: int64
        metadata:
          type: object
          additionalProperties:
            type: string
        nickname:
          type: string
        trialPeriodDays:
          type: integer
          format: int64
        createdAt:
          type: string
          format: '2016-01-01T00:00:00.000Z'
        updatedAt:
          type: string
          format: '2016-01-01T00:00:00.000Z'
    StripeInfo:
      type: object
      properties:
        publishableKey:
          type: string
        currency:
          type: string
        customerId:
          type: string
        cards:
          type: array
          items:
            $ref: '#/components/schemas/StripeCard'
        purchases:
          type: array
          items:
            $ref: '#/components/schemas/Purchase'
        name:
          type: string
        email:
          type: string
    StripeResponse:
      type: object
    StripeResponseGetter:
      type: object
    JsonArray:
      type: object
      properties:
        asString:
          type: string
        empty:
          type: boolean
        asInt:
          type: integer
          format: int32
        asDouble:
          type: number
          format: double
        asLong:
          type: integer
          format: int64
        asBoolean:
          type: boolean
        asNumber:
          type: number
        asFloat:
          type: number
          format: float
        asByte:
          type: string
          format: byte
        asCharacter:
          type: string
          deprecated: true
        asBigDecimal:
          type: number
        asBigInteger:
          type: integer
        asShort:
          type: integer
          format: int32
        asJsonObject:
          $ref: '#/components/schemas/JsonObject'
        jsonObject:
          type: boolean
        jsonPrimitive:
          type: boolean
        jsonArray:
          type: boolean
        jsonNull:
          type: boolean
        asJsonArray:
          $ref: '#/components/schemas/JsonArray'
        asJsonPrimitive:
          $ref: '#/components/schemas/JsonPrimitive'
        asJsonNull:
          $ref: '#/components/schemas/JsonNull'
    Coupon:
      type: object
      properties:
        amountOff:
          type: integer
          format: int64
        appliesTo:
          $ref: '#/components/schemas/AppliesTo'
        created:
          type: integer
          format: int64
        currency:
          type: string
        currencyOptions:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/CurrencyOption'
        deleted:
          type: boolean
        duration:
          type: string
        durationInMonths:
          type: integer
          format: int64
        id:
          type: string
        livemode:
          type: boolean
        maxRedemptions:
          type: integer
          format: int64
        metadata:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
        object:
          type: string
        percentOff:
          type: number
        redeemBy:
          type: integer
          format: int64
        timesRedeemed:
          type: integer
          format: int64
        valid:
          type: boolean
        responseGetter:
          $ref: '#/components/schemas/StripeResponseGetter'
        lastResponse:
          $ref: '#/components/schemas/StripeResponse'
        rawJsonObject:
          $ref: '#/components/schemas/JsonObject'
    UpdateStripeCustomerNameRequest:
      type: object
      properties:
        name:
          type: string
    StripeInvoice:
      type: object
      properties:
        id:
          type: string
        amountPaid:
          type: integer
          format: int64
        amountDue:
          type: integer
          format: int64
        amountRemaining:
          type: integer
          format: int64
        hostedInvoiceUrl:
          type: string
        currency:
          type: string
        periodStart:
          type: integer
          format: int64
        periodEnd:
          type: integer
          format: int64
        maxQuantity:
          type: integer
          format: int64
    StripeSubscribeRequest:
      required:
      - addCardRequest
      - couponCode
      - paymentMethodTypes
      - planId
      type: object
      properties:
        addCardRequest:
          $ref: '#/components/schemas/AddCardRequest'
        planId:
          type: string
        couponCode:
          type: string
        paymentMethodTypes:
          type: string
    JsonObject:
      type: object
      properties:
        empty:
          type: boolean
        asString:
          type: string
        asInt:
          type: integer
          format: int32
        asDouble:
          type: number
          format: double
        asLong:
          type: integer
          format: int64
        asBoolean:
          type: boolean
        asJsonObject:
          $ref: '#/components/schemas/JsonObject'
        jsonObject:
          type: boolean
        jsonPrimitive:
          type: boolean
        jsonArray:
          type: boolean
        jsonNull:
          type: boolean
        asJsonArray:
          $ref: '#/components/schemas/JsonArray'
        asJsonPrimitive:
          $ref: '#/components/schemas/JsonPrimitive'
        asJsonNull:
          $ref: '#/components/schemas/JsonNull'
        asNumber:
          type: number
        asFloat:
          type: number
          format: float
        asByte:
          type: string
          format: byte
        asCharacter:
          type: string
          deprecated: true
        asBigDecimal:
          type: number
        asBigInteger:
          type: integer
        asShort:
          type: integer
          format: int32
    Purchase:
      type: object
      properties:
        billingVendor:
          type: string
          enum:
          - Google
          - Stripe
        startedAt:
          type: string
          format: '2016-01-01T00:00:00.000Z'
        expiredAt:
          type: string
          format: '2016-01-01T00:00:00.000Z'
        planId:
          type: string
        orderId:
          type: string
        invoiceId:
          type: string
        state:
          type: string
          enum:
          - Paid
          - Trial
          - NotPaid
          - Canceled
        amountPaid:
          type: integer
          format: int64
        invoiceUrl:
          type: string
        currency:
          type: string
        autoRenewing:
          type: boolean
        collectionMethod:
          type: string
    JsonPrimitive:
      type: object
      properties:
        boolean:
          type: boolean
        asString:
          type: string
        asInt:
          type: integer
          format: int32
        asDouble:
          type: number
          format: double
        asLong:
          type: integer
          format: int64
        asBoolean:
          type: boolean
        number:
          type: boolean
        string:
          type: boolean
        asNumber:
          type: number
        asFloat:
          type: number
          format: float
        asByte:
          type: string
          format: byte
        asCharacter:
          type: string
          deprecated: true
        asBigDecimal:
          type: number
        asBigInteger:
          type: integer
        asShort:
          type: integer
          format: int32
        asJsonObject:
          $ref: '#/components/schemas/JsonObject'
        jsonObject:
          type: boolean
        jsonPrimitive:
          type: boolean
        jsonArray:
          type: boolean
        jsonNull:
          type: boolean
        asJsonArray:
          $ref: '#/components/schemas/JsonArray'
        asJsonPrimitive:
          $ref: '#/components/schemas/JsonPrimitive'
        asJsonNull:
          $ref: '#/components/schemas/JsonNull'
    UpdateStripeCustomerEmailRequest:
      type: object
      properties:
        email:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
