openapi: 3.2.0
info:
  title: Agriinfodesign V1 User API
  description: ユーザー情報API
servers:
- url: http://auth.agribus-connect.net
  description: Generated server url
security:
- bearerAuth: []
tags:
- name: V1 User
  description: ユーザー情報API
paths:
  /v1/user:
    get:
      tags:
      - V1 User
      summary: ログインしている自分自身の情報を取得します。
      operationId: getMe
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'
    put:
      tags:
      - V1 User
      summary: ログインしている自分自身の情報を更新します。変更する項目はnickname,sendMeNews,language,systemOfUnitsです。
      operationId: updateMe
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'
  /v1/user/password:
    put:
      tags:
      - V1 User
      summary: パスワードを変更します。
      operationId: changePassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'
  /v1/user/password/reset:
    put:
      tags:
      - V1 User
      summary: パスワードをリセットします。リセット確認メールが送信されます。
      operationId: resetPassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
        required: true
      responses:
        '200':
          description: OK
  /v1/user/groups:
    get:
      tags:
      - V1 User
      summary: ログインしている自分自身が所属するグループ情報を取得します
      operationId: getUserGroupsInfo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroupsInfo'
components:
  schemas:
    UserGroupInfo:
      type: object
      properties:
        name:
          type: string
    UserPicture:
      type: object
      properties:
        icon:
          type: string
          enum:
          - Default|https://s3-ap-northeast-1.amazonaws.com/agri-info-design-public/icons/ic_person_black_48dp.png
          - Gravatar|null
          - Custom|null
        url:
          type: string
    UserInfo:
      type: object
      properties:
        username:
          type: string
        nickname:
          type: string
        email:
          type: string
        language:
          type: string
        zoneinfo:
          type: string
        sendMeNews:
          type: boolean
        systemOfUnits:
          type: string
          enum:
          - Metric
          - Imperial
          - JpUnitsOfArea
          - ThUnitsOfArea
        icon:
          $ref: '#/components/schemas/UserPicture'
        iconUrl:
          type: string
        customIconUrl:
          type: string
        stripeId:
          type: string
        trialAvailable:
          type: boolean
          description: トライアル可能かどうかを示します。何度もトライアルを繰り返さないようにするためです。
        systemAdmin:
          type: boolean
          description: システム管理者かどうかを示します。
        functionality:
          type: string
          description: Functionalityを示します。
          enum:
          - AsFree
          - AsPlus
          - AsProfessional
          - Custom
          - AsStandard
        fsMigrated:
          type: boolean
          description: Fire移行が完了しているかどうかを示します。
        enforcedPlan:
          type: string
          description: 強制指定されたプランを示します。
          enum:
          - Free
          - Standard
          - Enterprise
          - Plus
          - Professional
        passwordEntered:
          type: boolean
          description: OAuthユーザーの場合に、パスワードがセットされているかどうかを示します。
        oauthUser:
          type: boolean
    UpdateUserRequest:
      type: object
      properties:
        nickname:
          type: string
        sendMeNews:
          type: boolean
        language:
          type: string
        systemOfUnits:
          type: string
          enum:
          - Metric
          - Imperial
          - JpUnitsOfArea
          - ThUnitsOfArea
    UserGroupsInfo:
      type: object
      properties:
        userGroups:
          type: array
          items:
            $ref: '#/components/schemas/UserGroupInfo'
    ResetPasswordRequest:
      required:
      - email
      type: object
      properties:
        email:
          type: string
          description: Eメール
    ChangePasswordRequest:
      required:
      - currentPassword
      - newPassword
      type: object
      properties:
        currentPassword:
          type: string
          description: 現在のパスワード
        newPassword:
          type: string
          description: 新しいパスワード
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
