openapi: 3.2.0
info:
  description: AgriBus-Web Manager API
  version: 0.0.1
  title: AgriBus-Web Manager V1 Migration Test API
  termsOfService: http://agri-info-design.com/
  license:
    name: Some License
    url: http://agri-info-design.com/
servers:
- url: https://manager.agribus-connect.net/
tags:
- name: V1MigrationTest
  description: Migration Test Controller
paths:
  /v1/firetest/{username}:
    get:
      tags:
      - V1MigrationTest
      summary: getUser
      description: Userを取得します。
      operationId: getUserUsingGET
      parameters:
      - name: username
        in: path
        description: username
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/User'
    post:
      tags:
      - V1MigrationTest
      summary: initFsMigrated
      description: UserのFsMigratedをfalseにします。
      operationId: initFsMigratedUsingPOST
      parameters:
      - name: username
        in: path
        description: username
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/User'
components:
  schemas:
    SignUpInfo:
      type: object
      properties:
        environment:
          type: string
        language:
          type: string
        passwordEntered:
          type: boolean
    User:
      type: object
      properties:
        billingMetaInfo:
          $ref: '#/components/schemas/BillingMetaInfo'
        confirmed:
          type: boolean
        createdAt:
          type: string
        currency:
          type: string
          enum:
          - jpy
          - usd
        customIconUrl:
          type: string
        email:
          type: string
        emailVerified:
          type: boolean
        enabled:
          type: boolean
        enforcedPlan:
          type: string
          enum:
          - Free
          - Standard
          - Enterprise
          - Plus
          - Professional
        fsMigrated:
          type: boolean
        identities:
          type: string
        language:
          type: string
        name:
          type: string
        nickname:
          type: string
        picture:
          $ref: '#/components/schemas/Picture'
        plan:
          type: string
          enum:
          - Free
          - Standard
          - Enterprise
          - Plus
          - Professional
        region:
          type: string
        secureToken:
          type: string
        sendMeNews:
          type: boolean
        signUpInfo:
          $ref: '#/components/schemas/SignUpInfo'
        status:
          type: string
        stripeId:
          type: string
        systemAdmin:
          type: boolean
        systemOfUnits:
          type: string
          enum:
          - Metric
          - Imperial
        trialAvailable:
          type: boolean
        updatedAt:
          type: string
        username:
          type: string
        zoneinfo:
          type: string
    BillingMetaInfo:
      type: object
      properties:
        doubleBilling:
          type: boolean
    Picture:
      type: object
      properties:
        icon:
          type: string
          enum:
          - Default|https://s3-ap-northeast-1.amazonaws.com/agri-info-design-public/icons/ic_person_black_48dp.png
          - Gravatar|null
          - Custom|null
        url:
          type: string
  securitySchemes:
    mykey:
      type: apiKey
      name: mykey
      in: header
