{"swagger":"2.0","info":{"description":"AgriBus-Web Manager API","version":"0.0.1","title":"AgriBus-Web Manager API","termsOfService":"http://agri-info-design.com/","license":{"name":"Some License","url":"http://agri-info-design.com/"}},"host":"manager.agribus-connect.net","basePath":"/","tags":[{"name":"StripeV2","description":"V 2 Stripe Controller"},{"name":"CasterV1","description":"V 1 Caster Controller"},{"name":"WebMarkerV2","description":"V 2 Web Marker Controller"},{"name":"UserV1","description":"V 1 User Controller"},{"name":"DeviceV1","description":"V 1 Device Controller"},{"name":"TokenV1","description":"V 1 Token Controller"},{"name":"StripeV1","description":"V 1 Stripe Controller"},{"name":"CasterV2","description":"V 2 Caster Controller"},{"name":"SystemV1","description":"V 1 System Controller"},{"name":"SearchV1","description":"V 1 Search Controller"},{"name":"MigrationV1","description":"V 1 Migration Controller"},{"name":"TokenV2","description":"V 2 Token Controller"},{"name":"V1MigrationTest","description":"Migration Test Controller"},{"name":"CasterV3","description":"V 3 Caster Controller"},{"name":"SoracomV1","description":"V 1 Soracom Controller"},{"name":"UserV2","description":"V 2 User Controller"},{"name":"UserV3","description":"V 3 User Controller"},{"name":"FirebaseV1","description":"V 1 Firebase Controller"},{"name":"GoogleV1","description":"V 1 Google Controller"},{"name":"NaviV1","description":"V 1 Navi Controller"},{"name":"SubscriptionV1","description":"V 1 Subscription Controller"}],"paths":{"/v1/caster":{"post":{"tags":["CasterV1"],"summary":"利用しないでください","description":"YouCORSにマウントポイントとNtripクライアントを作成する","operationId":"setUpYouCorsUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/SetUpYouCorsRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SetUpYouCorsResponse"}}}}},"/v1/caster/cleanup":{"get":{"tags":["CasterV1"],"summary":"利用しないでください","description":"クリーンアップ対象の一覧（同時接続用クライアントおよびStandardプランから退会済みであるユーザーのマウントポイント・クライアント）を取得する","operationId":"listCleanupTargetsUsingGET","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CleanupTargetsResponse"}}}},"post":{"tags":["CasterV1"],"summary":"利用しないでください","description":"同時接続用クライアントおよびStandardプランから退会済みであるユーザーのマウントポイント・クライアントを一括削除する","operationId":"cleanupUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CleanupCasterResponse"}}}}},"/v1/caster/client":{"post":{"tags":["CasterV1"],"summary":"利用しないでください","description":"このAPIは非推奨です。後方互換性のためだけに残されています。CasterV2のcreateClientを使用してください。","operationId":"createClientUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/SetUpYouCorsRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SetUpYouCorsResponse"}}},"deprecated":true}},"/v1/caster/client/{clientName}":{"post":{"tags":["CasterV1"],"summary":"利用しないでください","description":"このAPIは非推奨です。後方互換性のためだけに残されています。CasterV2のcreateClientByNameを使用してください。","operationId":"createClientByNameUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/SetUpYouCorsRequest"}},{"name":"clientName","in":"path","description":"clientName","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SetUpYouCorsResponse"}}},"deprecated":true}},"/v1/devices":{"get":{"tags":["DeviceV1"],"summary":"list","description":"DevicesInfoを取得します。デフォルトでは自分のみです。フォローしているユーザーのデバイスも加えたい場合は、Include=Subscribingにしてください","operationId":"listUsingGET","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"include","in":"query","description":"include","required":false,"type":"string","enum":["Subscribing"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DevicesInfo"}}}}},"/v1/devices/agribusnavi":{"get":{"tags":["DeviceV1"],"summary":"listOnlyAgriBusNavi","description":"AgriBusNAVIに限定したDevicesInfoを取得します。デフォルトでは自分のみです。フォローしているユーザーのデバイスも加えたい場合は、Include=Subscribingにしてください","operationId":"listOnlyAgriBusNaviUsingGET","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"include","in":"query","description":"include","required":false,"type":"string","enum":["Subscribing"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DevicesInfo"}}}}},"/v1/firebase/custom_token":{"get":{"tags":["FirebaseV1"],"summary":"getCustomToken","description":"FirebaseよりCustomTokenを発行します","operationId":"getCustomTokenUsingGET","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FirebaseCustomTokenResponse"}}}}},"/v1/firetest/{username}":{"get":{"tags":["V1MigrationTest"],"summary":"getUser","description":"Userを取得します。","operationId":"getUserUsingGET","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"username","in":"path","description":"username","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/User"}}}},"post":{"tags":["V1MigrationTest"],"summary":"initFsMigrated","description":"UserのFsMigratedをfalseにします。","operationId":"initFsMigratedUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"username","in":"path","description":"username","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/User"}}}}},"/v1/google/play/rtdn":{"post":{"tags":["GoogleV1"],"summary":"receiveNotification","operationId":"receiveNotificationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"map","description":"map","required":true,"schema":{"type":"object"}},{"in":"body","name":"model","description":"model","required":false,"schema":{"$ref":"#/definitions/Model"}}],"responses":{"200":{"description":"OK"}}}},"/v1/migration/completed/{username}":{"post":{"tags":["MigrationV1"],"summary":"completed","description":"指定ユーザのFirestoreへの移行完了を保存します","operationId":"completedUsingPOST","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"username","in":"path","description":"username","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/v1/migration/follows":{"post":{"tags":["MigrationV1"],"summary":"migrationFollows","description":"フォロー関係を全てFirestoreに移行します","operationId":"migrationFollowsUsingPOST","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK"}}}},"/v1/migration/follows/{username}":{"post":{"tags":["MigrationV1"],"summary":"migrationFollowsForUser","description":"指定ユーザのフォロー関係をFirestoreに移行します","operationId":"migrationFollowsForUserUsingPOST","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"username","in":"path","description":"username","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/v1/navi/settings/{deviceId}":{"put":{"tags":["NaviV1"],"summary":"利用しないでください","description":"このAPIは非推奨です。後方互換性のためだけに残されています。SaveStatusを利用してください","operationId":"saveSettingsUsingPUT","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"agriBusNaviSettingsJson","description":"agriBusNaviSettingsJson","required":true,"schema":{"type":"object"}},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}},"deprecated":true}},"/v1/navi/status/purchase/check":{"post":{"tags":["NaviV1"],"summary":"checkAndroidPurchases","description":"Google課金情報がすでに存在するかチェックする","operationId":"checkAndroidPurchasesUsingPOST","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"androidPurchases","description":"androidPurchases","required":true,"schema":{"$ref":"#/definitions/AndroidPurchases"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CheckAndroidPurchasesResponse"}}}}},"/v1/navi/status/purchase/{deviceId}":{"post":{"tags":["NaviV1"],"summary":"replaceAndroidPurchases","description":"Google課金情報の保持者（username）を書き換える","operationId":"replaceAndroidPurchasesUsingPOST","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"in":"body","name":"androidPurchases","description":"androidPurchases","required":true,"schema":{"$ref":"#/definitions/AndroidPurchases"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserInfo"}}}},"put":{"tags":["NaviV1"],"summary":"saveAndroidPurchases","description":"NAVI端末内のGoogle課金情報を保存する","operationId":"saveAndroidPurchasesUsingPUT","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"in":"body","name":"androidPurchases","description":"androidPurchases","required":true,"schema":{"$ref":"#/definitions/AndroidPurchases"}}],"responses":{"200":{"description":"OK"}}}},"/v1/navi/status/{deviceId}":{"put":{"tags":["NaviV1"],"summary":"saveStatus","description":"(Firestore Settingsに移行後は利用しないでください) NAVIのステータス（AgriBusNaviSettings.jsonとGoogle課金情報）を保存する","operationId":"saveStatusUsingPUT","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"in":"body","name":"agriBusNaviStatusRequest","description":"agriBusNaviStatusRequest","required":true,"schema":{"$ref":"#/definitions/AgriBusNaviStatusRequest"}}],"responses":{"200":{"description":"OK"}},"deprecated":true}},"/v1/search/user/email":{"get":{"tags":["SearchV1"],"summary":"searchUserByEmail","description":"Emailでユーザーを検索します。エンタープライズユーザーは検索されません。同一リージョンに限ります。","operationId":"searchUserByEmailUsingGET","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"email","in":"query","description":"email","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserInfo"}}}}},"/v1/soracom/native/subscribers/{imsi}":{"get":{"tags":["SoracomV1"],"summary":"nativeGetSubscriberInfo","description":"Soracom APIを直接叩きます。Subscriber情報を取得します","operationId":"nativeGetSubscriberInfoUsingGET","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"imsi","in":"path","description":"imsi","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SoracomSubscriberInfo"}}}}},"/v1/soracom/sims/{imsi}/activate":{"post":{"tags":["SoracomV1"],"summary":"activateSim","description":"Soracom APIを直接叩きます。Subscriber情報を取得します","operationId":"activateSimUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ActivateSimRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActivateSimResponse"}}}}},"/v1/stripe/card":{"post":{"tags":["StripeV1"],"summary":"addCard","description":"Stripeにクレカを登録します","operationId":"addCardUsingPOST","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"addCardRequest","description":"addCardRequest","required":true,"schema":{"$ref":"#/definitions/AddCardRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/StripeInfo"}}}}},"/v1/stripe/card/{cardId}":{"put":{"tags":["StripeV1"],"summary":"selectCard","description":"Stripeで利用するデフォルトのクレカを選択します","operationId":"selectCardUsingPUT","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"cardId","in":"path","description":"cardId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}},"delete":{"tags":["StripeV1"],"summary":"deleteCard","description":"Stripeからクレカを削除します","operationId":"deleteCardUsingDELETE","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"cardId","in":"path","description":"cardId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/v1/stripe/coupons":{"get":{"tags":["StripeV1"],"summary":"listCoupons","description":"クーポン一覧を取得します","operationId":"listCouponsUsingGET","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Coupon"}}}}}},"/v1/stripe/enterprise/plans/{priceId}/payer/subscription":{"post":{"tags":["StripeV1"],"summary":"subscribeForEnterpriseFromPayer","description":"支払者からのエンタープライズサブスクリプション開始","operationId":"subscribeForEnterpriseFromPayerUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"priceId","in":"path","description":"priceId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/v1/stripe/info":{"get":{"tags":["StripeV1"],"summary":"getInfo","description":"Userに紐づいたStripe情報を取得します","operationId":"getInfoUsingGET","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/StripeInfo"}}}}},"/v1/stripe/invoices":{"get":{"tags":["StripeV1"],"summary":"getInvoices","description":"請求情報を取得します","operationId":"getInvoicesUsingGET","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/StripeInvoice"}}}}}},"/v1/stripe/invoices/upcoming":{"get":{"tags":["StripeV1"],"summary":"getInvoicesUpcoming","description":"現在期間の請求情報を取得します","operationId":"getInvoicesUpcomingUsingGET","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/StripeInvoice"}}}}},"/v1/stripe/plans":{"get":{"tags":["StripeV1"],"summary":"list","description":"支払いプランのリストを取得します","operationId":"listBillingPlansUsingGET","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/StripePlan"}}}}}},"/v1/stripe/plans/{planId}/subscription":{"post":{"tags":["StripeV1"],"summary":"subscribe","description":"サブスクリプションを開始します。一度トライアルしたことがあるユーザーの場合、トライアル期間なしでの購入となります。","operationId":"subscribeUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"planId","in":"path","description":"planId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}},"deprecated":true}},"/v1/stripe/plans/{planId}/subscription/discount/{couponCode}":{"post":{"tags":["StripeV1"],"summary":"subscribeWithDiscount","description":"割引付きサブスクリプションを開始します。一度トライアルしたことがあるユーザーの場合、トライアル期間なしでの購入となります。","operationId":"subscribeWithDiscountUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"planId","in":"path","description":"planId","required":true,"type":"string"},{"name":"couponCode","in":"path","description":"couponCode","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}},"deprecated":true}},"/v1/stripe/subscriptions/{subscriptionId}":{"delete":{"tags":["StripeV1"],"summary":"unsubscribe","description":"サブスクリプションを解約します。トライアル期間中は即時解約ですが、本契約期間中の途中解約は支払い済みの期間はスタンダード有効であり、期間が終了したら自動終了となります。","operationId":"unsubscribeUsingDELETE","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"subscriptionId","in":"path","description":"subscriptionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/v1/subscription":{"get":{"tags":["SubscriptionV1"],"summary":"get","description":"購読情報を取得します","operationId":"getUsingGET","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SubscriptionInfo"}}}}},"/v1/subscription/account/{uuid}":{"delete":{"tags":["SubscriptionV1"],"summary":"unsubscribeAccount","description":"アカウント購読（フォロー）を削除します","operationId":"unsubscribeAccountUsingDELETE","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"uuid","in":"path","description":"uuid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UnsubscribeResponse"}}}}},"/v1/subscription/request":{"post":{"tags":["SubscriptionV1"],"summary":"createRequest","description":"購読リクエストを作成します","operationId":"createRequestUsingPOST","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/CreateSubscriptionRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CreateSubscriptionResponse"}}}}},"/v1/subscription/request/{mode}":{"get":{"tags":["SubscriptionV1"],"summary":"listRequests","description":"購読リクエストのリストを取得します","operationId":"listRequestsUsingGET","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"mode","in":"path","description":"mode","required":true,"type":"string","enum":["incoming","outgoing"]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SubscriptionRequestInfo"}}}}}},"/v1/subscription/request/{requestId}":{"put":{"tags":["SubscriptionV1"],"summary":"updateRequest","description":"購読リクエストを承認/否認します","operationId":"updateRequestUsingPUT","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/UpdateSubscriptionRequest"}},{"name":"requestId","in":"path","description":"requestId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UpdateSubscriptionResponse"}}}},"delete":{"tags":["SubscriptionV1"],"summary":"deleteRequest","description":"購読リクエストを削除します","operationId":"deleteRequestUsingDELETE","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"requestId","in":"path","description":"requestId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DeleteSubscriptionResponse"}}}}},"/v1/system/info":{"get":{"tags":["SystemV1"],"summary":"getInfo","operationId":"getInfoUsingGET_1","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SystemInfo"}}}}},"/v1/token":{"post":{"tags":["TokenV1"],"summary":"今後メンテナンスされません。利用しないでください","description":"今後メンテナンスされません。廃止予定です。古いNAVIのためにだけ残しています。V2TokenControllerのpublishTokenを使用してください。","operationId":"publishTokenUsingPOST","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/PublishTokenRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TokenResponse"}}},"deprecated":true}},"/v1/token/impersonate":{"post":{"tags":["TokenV1"],"summary":"今後メンテナンスされません。利用しないでください","description":"今後メンテナンスされません。廃止予定です。V2TokenControllerのimpersonateを使用してください。","operationId":"impersonateUsingPOST","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ImpersonationRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TokenResponse"}}},"deprecated":true},"delete":{"tags":["TokenV1"],"summary":"今後メンテナンスされません。利用しないでください","description":"今後メンテナンスされません。廃止予定です。古いNAVIのためにだけ残しています。V2TokenControllerのdeleteImpersonationを使用してください。","operationId":"deleteImpersonationUsingDELETE","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TokenResponse"}}},"deprecated":true}},"/v1/token/refresh":{"post":{"tags":["TokenV1"],"summary":"利用しないでください","description":"廃止予定です。V2TokenControllerのrefreshTokenを使用してください。","operationId":"refreshTokenUsingPOST","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/RefreshTokenRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TokenResponse"}}},"deprecated":true}},"/v1/user/":{"get":{"tags":["UserV1"],"summary":"getUser","description":"ユーザー情報を取得します","operationId":"getUserInfoUsingGET","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserInfo"}}}},"put":{"tags":["UserV1"],"summary":"updateUser","description":"ユーザー情報を更新します。変更できるのはnickname,sendMeNewsのみです。NAVIのoAuthサインアップ時のみ呼び出されます","operationId":"updateUserUsingPUT","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/EditUserRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserInfo"}}}}},"/v1/user/confirm":{"post":{"tags":["UserV1"],"summary":"confirmSignUp","description":"AgriBus-Webへのサインアップを確認します","operationId":"confirmUsingPOST","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ConfirmRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserInfo"}}}}},"/v1/user/icon":{"put":{"tags":["UserV1"],"summary":"updateIcon","description":"アイコンを設定する","operationId":"updateIconUsingPUT","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/UpdateIconRequest"}}],"responses":{"200":{"description":"OK"}}}},"/v1/user/icon/custom":{"post":{"tags":["UserV1"],"summary":"uploadIconImage","description":"アイコン画像をアップロードする","operationId":"uploadIconImageUsingPOST","consumes":["multipart/form-data"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"img","in":"formData","description":"img","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UploadIconImageResult"}}}}},"/v1/user/inquire":{"put":{"tags":["UserV1"],"summary":"inquire","description":"問い合わせる","operationId":"inquireUsingPUT","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/InquiryRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InquiryResponse"}}}}},"/v1/user/password":{"post":{"tags":["UserV1"],"summary":"createPassword","description":"OAuthユーザのパスワードを新規作成する","operationId":"createPasswordUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/CreatePasswordRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserInfo"}}}},"put":{"tags":["UserV1"],"summary":"changePassword","description":"パスワードを変更します。","operationId":"changePasswordUsingPUT","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ChangePasswordRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserInfo"}}}}},"/v1/user/password/reset":{"put":{"tags":["UserV1"],"summary":"resetPassword","description":"パスワードをリセットします。リセット確認メールが送信されます。","operationId":"resetPasswordUsingPUT","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ResetPasswordRequest"}}],"responses":{"200":{"description":"OK"}}}},"/v1/user/password_entered":{"get":{"tags":["UserV1"],"summary":"passwordEntered","description":"Userのパスワードがセットされているか確認する","operationId":"passwordEnteredUsingGET","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/v1/user/reset_double_billing":{"post":{"tags":["UserV1"],"summary":"resetDoubleBilling","description":"重複課金が解消されたユーザの重複課金対応フラグをfalseにします","operationId":"resetDoubleBillingUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK"}}}},"/v1/user/signup":{"post":{"tags":["UserV1"],"summary":"signUp","description":"AgriBus-Webにサインアップします","operationId":"signupUsingPOST","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/SignUpRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserInfo"}}}}},"/v2/caster/client":{"post":{"tags":["CasterV2"],"summary":"利用しないでください","description":"YouCORSにNtripクライアントを作成する","operationId":"createClientUsingPOST_1","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CreateClientResponse"}}}}},"/v2/caster/client/{clientName}":{"post":{"tags":["CasterV2"],"summary":"利用しないでください","description":"ClientNameを指定して、YouCORSにNtripクライアントを作成する","operationId":"createClientByNameUsingPOST_1","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/CreateClientRequest"}},{"name":"clientName","in":"path","description":"clientName","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CreateClientResponse"}}}}},"/v2/stripe/customer/email":{"put":{"tags":["StripeV2"],"summary":"updateCustomerEmail","description":"Customerのメールアドレス更新","operationId":"updateCustomerEmailUsingPUT","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/UpdateStripeCustomerEmailRequest"}}],"responses":{"200":{"description":"OK"}}}},"/v2/stripe/customer/name":{"put":{"tags":["StripeV2"],"summary":"updateCustomerName","description":"Customerの名前更新","operationId":"updateCustomerNameUsingPUT","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/UpdateStripeCustomerNameRequest"}}],"responses":{"200":{"description":"OK"}}}},"/v2/stripe/subscription":{"post":{"tags":["StripeV2"],"summary":"subscribe","description":"サブスクリプション開始","operationId":"subscribeUsingPOST_1","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/StripeSubscribeRequest"}}],"responses":{"200":{"description":"OK"}}}},"/v2/stripe/subscriptions/payment_method/{subscriptionId}/{paymentMethodType}":{"put":{"tags":["StripeV2"],"summary":"changePaymentMethodType","description":"支払い方法の変更","operationId":"changePaymentMethodTypeUsingPUT","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"subscriptionId","in":"path","description":"subscriptionId","required":true,"type":"string"},{"name":"paymentMethodType","in":"path","description":"paymentMethodType","required":true,"type":"string"},{"in":"body","name":"addCardRequest","description":"addCardRequest","required":true,"schema":{"$ref":"#/definitions/AddCardRequest"}}],"responses":{"200":{"description":"OK"}}}},"/v2/stripe/subscriptions/{subscriptionId}/{planId}":{"put":{"tags":["StripeV2"],"summary":"changePlan","description":"プランのアップグレード/ダウングレード","operationId":"changePlanUsingPUT","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"subscriptionId","in":"path","description":"subscriptionId","required":true,"type":"string"},{"name":"planId","in":"path","description":"planId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/v2/token":{"post":{"tags":["TokenV2"],"summary":"generate","description":"AgriBus-Web APIのトークンを発行します","operationId":"publishTokenUsingPOST_1","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/PublishTokenRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TokenResponse"}}}}},"/v2/token/impersonate":{"post":{"tags":["TokenV2"],"summary":"impersonate","description":"SwitchUserしたトークンを発行します。このAPI実行にはUserがsystemAdminである必要があります","operationId":"impersonateUsingPOST_1","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ImpersonationRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TokenResponse"}}}},"delete":{"tags":["TokenV2"],"summary":"deleteImpersonation","description":"SwitchUserしたトークンを発行します。このAPI実行にはUserがsystemAdminである必要があります","operationId":"deleteImpersonationUsingDELETE_1","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TokenResponse"}}}}},"/v2/token/oauth_login":{"post":{"tags":["TokenV2"],"summary":"oauth_login","description":"Google OAuth認証後、各種ユーザ情報を登録します。","operationId":"oAuthLoginUsingPOST","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/OAuthLoginRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TokenResponse"}}}}},"/v2/token/refresh":{"post":{"tags":["TokenV2"],"summary":"refresh","description":"AgriBus-Web APIのトークンをリフレッシュします","operationId":"refreshTokenUsingPOST_1","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/RefreshTokenRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TokenResponse"}}}}},"/v2/user/":{"post":{"tags":["UserV2"],"summary":"simpleSignUpForWeb","description":"Webから簡易サインアップします","operationId":"signupForWebUsingPOST","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/SimpleSignUpRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserInfo"}}}},"put":{"tags":["UserV2"],"summary":"updateUser","description":"ユーザー情報を更新します。変更する項目はnickname,sendMeNews,language,systemOfUnitsです。","operationId":"updateUserUsingPUT_1","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/EditUserRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserInfo"}}}}},"/v2/user/confirm":{"post":{"tags":["UserV2"],"summary":"simpleSignUpConfirm","description":"簡易サインアップのConfirmです。これで完全登録になります。","operationId":"confirmUsingPOST_1","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/SimpleSignUpConfirmRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserInfo"}}}}},"/v2/user/groups":{"get":{"tags":["UserV2"],"summary":"getUserGroupsInfo","description":"ユーザーが所属するグループ情報を取得します","operationId":"getUserGroupsInfoUsingGET","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserGroupsInfo"}}}}},"/v2/user/new":{"post":{"tags":["UserV2"],"summary":"simpleSignUp","description":"簡易サインアップします","operationId":"signupUsingPOST_1","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/SimpleSignUpRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserInfo"}}}}},"/v2/user/{username}":{"get":{"tags":["UserV2"],"summary":"getUser","description":"指定したユーザーのユーザー情報を取得します","operationId":"getUserInfoUsingGET_1","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"username","in":"path","description":"username","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserInfo"}}}}},"/v2/web_markers":{"get":{"tags":["WebMarkerV2"],"summary":"list","description":"WebMarkerInfoを取得します。フォローしているユーザーのWebMarkerも加えたい場合は、Include=Subscribingにしてください","operationId":"listUsingGET_1","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"include","in":"query","description":"include","required":false,"type":"string","enum":["Subscribing"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WebMarkersInfo"}}}}},"/v2/web_markers/{username}/{deviceId}":{"put":{"tags":["WebMarkerV2"],"summary":"update","description":"WebMarkerInfoを更新します","operationId":"updateUsingPUT","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"username","in":"path","description":"username","required":true,"type":"string"},{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/UpdateWebMarkerRequest"}}],"responses":{"200":{"description":"OK"}}}},"/v3/caster/current":{"get":{"tags":["CasterV3"],"summary":"currentBaseAndRovers","description":"現在のBase/Rover情報を返します","operationId":"currentBaseAndRoversUsingGET","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/JsonNode"}}}}},"/v3/caster/setting/rtk":{"get":{"tags":["CasterV3"],"summary":"getRtkSettingInfo","description":"RTK設定情報を返します","operationId":"getRtkSettingInfoUsingGET","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RtkSettingInfo"}}}}},"/v3/user/new":{"post":{"tags":["UserV3"],"summary":"simpleSignUpAndSignIn","description":"メアド到達確認なしのSignUp","operationId":"simpleSignUpAndSignInUsingPOST","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/SimpleSignUpAndSignInRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TokenResponse"}}}}},"/v3/user/units":{"put":{"tags":["UserV3"],"summary":"updateSystemOfUnits","description":"ユーザーの単位系を保存します","operationId":"updateSystemOfUnitsUsingPUT","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/UpdateSystemOfUnitsRequest"}}],"responses":{"200":{"description":"OK"}}}}},"securityDefinitions":{"mykey":{"type":"apiKey","name":"mykey","in":"header"}},"definitions":{"CleanupTargetsResponse":{"type":"object","properties":{"cleanupPossible":{"type":"boolean"},"clientNames":{"type":"array","items":{"type":"string"}},"mountpointNames":{"type":"array","items":{"type":"string"}}}},"SystemInfo":{"type":"object","properties":{"jwtPublicKey":{"type":"string"}}},"EditUserRequest":{"type":"object","properties":{"language":{"type":"string","description":"言語"},"nickname":{"type":"string","description":"ニックネーム"},"sendMeNews":{"type":"boolean","description":"メルマガ受信"},"systemOfUnits":{"type":"string","description":"単位"}}},"UpdateStripeCustomerNameRequest":{"type":"object","properties":{"name":{"type":"string"}}},"JsonObject":{"type":"object","properties":{"asBigDecimal":{"type":"number","format":"double"},"asBigInteger":{"type":"integer","format":"int64"},"asBoolean":{"type":"boolean"},"asByte":{"type":"string","format":"byte"},"asCharacter":{"type":"string"},"asDouble":{"type":"number","format":"double"},"asFloat":{"type":"number","format":"float"},"asInt":{"type":"integer","format":"int32"},"asJsonArray":{"$ref":"#/definitions/JsonArray"},"asJsonNull":{"$ref":"#/definitions/JsonNull"},"asJsonPrimitive":{"$ref":"#/definitions/JsonPrimitive"},"asLong":{"type":"integer","format":"int64"},"asNumber":{"$ref":"#/definitions/Number"},"asShort":{"type":"integer","format":"int32"},"asString":{"type":"string"},"jsonArray":{"type":"boolean"},"jsonNull":{"type":"boolean"},"jsonObject":{"type":"boolean"},"jsonPrimitive":{"type":"boolean"}}},"CreateSubscriptionRequest":{"type":"object","required":["fromUsername","toUsername"],"properties":{"fromUsername":{"type":"string"},"toUsername":{"type":"string"}}},"SubscriptionInfo":{"type":"object","properties":{"subscriberAccounts":{"type":"array","description":"購読されているアカウント","items":{"$ref":"#/definitions/Subscription"}},"subscribingAccounts":{"type":"array","description":"購読しているアカウント","items":{"$ref":"#/definitions/Subscription"}},"subscribingGroups":{"type":"array","description":"購読しているグループ","items":{"$ref":"#/definitions/Subscription"}}}},"JsonNode":{"type":"object","properties":{"array":{"type":"boolean"},"bigDecimal":{"type":"boolean"},"bigInteger":{"type":"boolean"},"binary":{"type":"boolean"},"boolean":{"type":"boolean"},"containerNode":{"type":"boolean"},"double":{"type":"boolean"},"float":{"type":"boolean"},"floatingPointNumber":{"type":"boolean"},"int":{"type":"boolean"},"integralNumber":{"type":"boolean"},"long":{"type":"boolean"},"missingNode":{"type":"boolean"},"nodeType":{"type":"string","enum":["ARRAY","BINARY","BOOLEAN","MISSING","NULL","NUMBER","OBJECT","POJO","STRING"]},"null":{"type":"boolean"},"number":{"type":"boolean"},"object":{"type":"boolean"},"pojo":{"type":"boolean"},"short":{"type":"boolean"},"textual":{"type":"boolean"},"valueNode":{"type":"boolean"}}},"UnsubscribeResponse":{"type":"object"},"JsonNull":{"type":"object","properties":{"asBigDecimal":{"type":"number","format":"double"},"asBigInteger":{"type":"integer","format":"int64"},"asBoolean":{"type":"boolean"},"asByte":{"type":"string","format":"byte"},"asCharacter":{"type":"string"},"asDouble":{"type":"number","format":"double"},"asFloat":{"type":"number","format":"float"},"asInt":{"type":"integer","format":"int32"},"asJsonPrimitive":{"$ref":"#/definitions/JsonPrimitive"},"asLong":{"type":"integer","format":"int64"},"asNumber":{"$ref":"#/definitions/Number"},"asShort":{"type":"integer","format":"int32"},"asString":{"type":"string"},"jsonArray":{"type":"boolean"},"jsonNull":{"type":"boolean"},"jsonObject":{"type":"boolean"},"jsonPrimitive":{"type":"boolean"}}},"DeleteSubscriptionResponse":{"type":"object"},"RefreshTokenRequest":{"type":"object","required":["deviceId","email","refreshToken"],"properties":{"deviceId":{"type":"string","description":"端末で取得できるデバイスのID"},"deviceManufacturer":{"type":"string","description":"端末製造メーカー"},"deviceModel":{"type":"string","description":"端末デバイス名"},"deviceSystemVersion":{"type":"string","description":"端末OSバージョン"},"email":{"type":"string","description":"Eメール"},"refreshToken":{"type":"string","description":"リフレッシュトークン"},"userMetaData":{"type":"object","description":"ユーザーメタデータ情報","additionalProperties":{"type":"object"}}}},"SetUpYouCorsResponse":{"type":"object","properties":{"clientStatus":{"type":"string","enum":["Succeeded","Failure","AlreadyExists","None"]},"mountpointStatus":{"type":"string","enum":["Succeeded","Failure","AlreadyExists","None"]}}},"Subscriber":{"type":"object","properties":{"apn":{"type":"string"},"createdAt":{"type":"integer","format":"int64"},"expiredAt":{"type":"integer","format":"int64"},"expiryAction":{"type":"string"},"groupId":{"type":"string"},"iccid":{"type":"string"},"imeiLock":{"$ref":"#/definitions/ImeiLock"},"imsi":{"type":"string"},"ipAddress":{"type":"string"},"lastModifiedAt":{"type":"integer","format":"int64"},"moduleType":{"type":"string"},"msisdn":{"type":"string"},"operatorId":{"type":"string"},"plan":{"type":"integer","format":"int32"},"serialNumber":{"type":"string"},"sessionStatus":{"$ref":"#/definitions/SessionStatus"},"speedClass":{"type":"string"},"status":{"type":"string"},"tags":{"type":"object","additionalProperties":{"type":"string"}},"terminationEnabled":{"type":"boolean"}}},"Picture":{"type":"object","properties":{"icon":{"type":"string","enum":["Default|https://s3-ap-northeast-1.amazonaws.com/agri-info-design-public/icons/ic_person_black_48dp.png","Gravatar|null","Custom|null"]},"url":{"type":"string"}}},"AddCardRequest":{"type":"object","required":["stripeCardName","stripeToken"],"properties":{"stripeCardName":{"type":"string"},"stripeToken":{"type":"string"}}},"SessionStatus":{"type":"object","properties":{"dnsServers":{"type":"array","items":{"type":"string"}},"gatewayPrivateIpAddress":{"type":"string"},"gatewayPublicIpAddress":{"type":"string"},"imei":{"type":"string"},"lastUpdatedAt":{"type":"integer","format":"int64"},"online":{"type":"boolean"},"ueIpAddress":{"type":"string"},"vpgId":{"type":"string"}}},"Subscription":{"type":"object","required":["type","uuid"],"properties":{"email":{"type":"string"},"enterprise":{"type":"boolean"},"groupUsernames":{"type":"array","items":{"type":"string"}},"iconUrl":{"type":"string"},"name":{"type":"string","description":"nameとnicknameは同じものが常に入ります"},"nickname":{"type":"string","description":"nameとnicknameは同じものが常に入ります"},"organizationName":{"type":"string"},"region":{"type":"string"},"type":{"type":"string","enum":["Account","Group"]},"uuid":{"type":"string"}}},"ActivateSimRequest":{"type":"object","required":["imei","imsi","simGroupId","simName"],"properties":{"agriBusProductId":{"type":"string"},"agriBusProductSerialNumber":{"type":"string"},"imei":{"type":"string"},"imsi":{"type":"string"},"simGroupId":{"type":"string"},"simName":{"type":"string"}}},"ConfirmRequest":{"type":"object","required":["confirmationCode","secureToken","username"],"properties":{"confirmationCode":{"type":"string"},"secureToken":{"type":"string"},"username":{"type":"string"}}},"UpdateSubscriptionResponse":{"type":"object"},"PublishTokenRequest":{"type":"object","required":["appId","deviceId","email","password","secretHash"],"properties":{"appId":{"type":"string","description":"AgriBus Platformに登録済みのアプリケーションID"},"deviceId":{"type":"string","description":"端末で取得できるデバイスのID"},"deviceManufacturer":{"type":"string","description":"端末製造メーカー"},"deviceModel":{"type":"string","description":"端末デバイス名"},"deviceSystemVersion":{"type":"string","description":"端末OSバージョン"},"email":{"type":"string","description":"Eメール"},"password":{"type":"string","description":"ユーザーのパスワード"},"secretHash":{"type":"string","description":"アプリケーションシークレットを元にしたハッシュ"},"userMetaData":{"type":"object","description":"ユーザーメタデータ情報","additionalProperties":{"type":"object"}}}},"CheckAndroidPurchasesResponse":{"type":"object","properties":{"exists":{"type":"boolean"}}},"WebMarker":{"type":"object","properties":{"createdAt":{"type":"string"},"deviceId":{"type":"string"},"trackColor":{"type":"string"},"trackName":{"type":"string"},"updatedAt":{"type":"string"},"username":{"type":"string"}}},"SoracomSubscriberInfo":{"type":"object","properties":{"subscriber":{"$ref":"#/definitions/Subscriber"}}},"UpdateSubscriptionRequest":{"type":"object","required":["action"],"properties":{"action":{"type":"string","enum":["Accept","Reject"]}}},"Device":{"type":"object","properties":{"appId":{"type":"string"},"createdAt":{"type":"string"},"id":{"type":"string"},"manufacturer":{"type":"string"},"model":{"type":"string"},"systemVersion":{"type":"string"},"updatedAt":{"type":"string"},"username":{"type":"string"}}},"SubscriptionRequestInfo":{"type":"object","properties":{"createdAt":{"type":"string"},"fromIconUrl":{"type":"string"},"fromNickname":{"type":"string"},"fromUsername":{"type":"string"},"id":{"type":"string"},"toIconUrl":{"type":"string"},"toNickname":{"type":"string"},"toUsername":{"type":"string"}}},"CleanupCasterResponse":{"type":"object","properties":{"cleanupStatus":{"type":"string","enum":["Execution","NonExecution"]}}},"UploadIconImageResult":{"type":"object","properties":{"url":{"type":"string"}}},"StripeResponse":{"type":"object"},"ActivateSimResponse":{"type":"object","required":["activationStatus","imeiLockStatus","setGroupIdResult","setNameResult"],"properties":{"activationStatus":{"type":"string","enum":["AlreadyActivated","Activated","Deactivated","Failure"]},"imeiLockStatus":{"type":"string","enum":["Locked","Unlocked","Failure"]},"setGroupIdResult":{"type":"string","enum":["Success","Failure"]},"setNameResult":{"type":"string","enum":["Success","Failure"]}}},"ImeiLock":{"type":"object","properties":{"imei":{"type":"string"}}},"FirebaseCustomTokenResponse":{"type":"object","properties":{"customToken":{"type":"string"}}},"CreateClientResponse":{"type":"object","properties":{"clientStatus":{"type":"string","enum":["Succeeded","Failure","AlreadyExists","None"]}}},"TokenResponse":{"type":"object","properties":{"accessToken":{"type":"string"},"accessTokenExpiredAt":{"type":"string"},"refreshToken":{"type":"string"},"refreshTokenExpiredAt":{"type":"string"},"subscriptionInfo":{"$ref":"#/definitions/SubscriptionInfo"},"userInfo":{"$ref":"#/definitions/UserInfo"}}},"PurchaseInfo":{"type":"object","properties":{"activeSubscriptionCount":{"type":"integer","format":"int32"},"autoRenewing":{"type":"boolean"},"billingVendor":{"type":"string","enum":["Google","Stripe"]},"plan":{"type":"string","enum":["Free","Standard","Enterprise","Plus","Professional"]},"planEnforced":{"type":"boolean"},"planExpiredAt":{"type":"string"},"planStartedAt":{"type":"string"},"purchases":{"type":"array","items":{"$ref":"#/definitions/Purchase"}},"subscriptionId":{"type":"string"},"subscriptionIdForFunctionality":{"type":"string"},"trial":{"type":"boolean"}}},"CreateClientRequest":{"type":"object","required":["password"],"properties":{"password":{"type":"string"}}},"SignUpRequest":{"type":"object","required":["email","password"],"properties":{"email":{"type":"string","description":"Eメール"},"language":{"type":"string","description":"表示言語・en/ja"},"metaData":{"type":"object","description":"ユーザーメタデータ","additionalProperties":{"type":"object"}},"nickname":{"type":"string","description":"ニックネーム"},"password":{"type":"string"},"region":{"type":"string","description":"リージョン（your-region.agribus-connect.net を利用して調べてください）"},"sendMeNews":{"type":"boolean","description":"メルマガ受信"},"zoneinfo":{"type":"string","description":"タイムゾーン"}}},"User":{"type":"object","properties":{"billingMetaInfo":{"$ref":"#/definitions/BillingMetaInfo"},"confirmed":{"type":"boolean"},"createdAt":{"type":"string"},"currency":{"type":"string","enum":["jpy","usd"]},"customIconUrl":{"type":"string"},"email":{"type":"string"},"emailVerified":{"type":"boolean"},"enabled":{"type":"boolean"},"enforcedPlan":{"type":"string","enum":["Free","Standard","Enterprise","Plus","Professional"]},"fsMigrated":{"type":"boolean"},"identities":{"type":"string"},"language":{"type":"string"},"name":{"type":"string"},"nickname":{"type":"string"},"picture":{"$ref":"#/definitions/Picture"},"plan":{"type":"string","enum":["Free","Standard","Enterprise","Plus","Professional"]},"region":{"type":"string"},"secureToken":{"type":"string"},"sendMeNews":{"type":"boolean"},"signUpInfo":{"$ref":"#/definitions/SignUpInfo"},"status":{"type":"string"},"stripeId":{"type":"string"},"systemAdmin":{"type":"boolean"},"systemOfUnits":{"type":"string","enum":["Metric","Imperial"]},"trialAvailable":{"type":"boolean"},"updatedAt":{"type":"string"},"username":{"type":"string"},"zoneinfo":{"type":"string"}}},"JsonPrimitive":{"type":"object","properties":{"asBigDecimal":{"type":"number","format":"double"},"asBigInteger":{"type":"integer","format":"int64"},"asBoolean":{"type":"boolean"},"asByte":{"type":"string","format":"byte"},"asCharacter":{"type":"string"},"asDouble":{"type":"number","format":"double"},"asFloat":{"type":"number","format":"float"},"asInt":{"type":"integer","format":"int32"},"asLong":{"type":"integer","format":"int64"},"asNumber":{"$ref":"#/definitions/Number"},"asShort":{"type":"integer","format":"int32"},"asString":{"type":"string"},"boolean":{"type":"boolean"},"jsonArray":{"type":"boolean"},"jsonNull":{"type":"boolean"},"jsonObject":{"type":"boolean"},"jsonPrimitive":{"type":"boolean"},"number":{"type":"boolean"},"string":{"type":"boolean"}}},"StripeInvoice":{"type":"object","properties":{"amountDue":{"type":"integer","format":"int64"},"amountPaid":{"type":"integer","format":"int64"},"amountRemaining":{"type":"integer","format":"int64"},"currency":{"type":"string"},"hostedInvoiceUrl":{"type":"string"},"id":{"type":"string"},"maxQuantity":{"type":"integer","format":"int64"},"periodEnd":{"type":"integer","format":"int64"},"periodStart":{"type":"integer","format":"int64"}}},"CreatePasswordRequest":{"type":"object","required":["newPassword"],"properties":{"newPassword":{"type":"string","description":"新しいパスワード"}}},"SetUpYouCorsRequest":{"type":"object"},"StripeCard":{"type":"object","properties":{"brand":{"type":"string"},"defaultCard":{"type":"boolean"},"expMonth":{"type":"integer","format":"int32"},"expYear":{"type":"integer","format":"int32"},"id":{"type":"string"},"last4":{"type":"string"},"name":{"type":"string"}}},"UserInfo":{"type":"object","properties":{"calclatedPlan":{"type":"string","description":"後方互換性を保つためだけにあります。値はセットされることがありません。常にnullです。計算済みプランはpurchaseInfo#planを利用してください。","enum":["Free","Standard","Enterprise","Plus","Professional"]},"customIconUrl":{"type":"string"},"email":{"type":"string"},"functionality":{"type":"string","enum":["AsFree","AsStandard","AsPlus","AsProfessional"]},"icon":{"type":"string","enum":["Default|https://s3-ap-northeast-1.amazonaws.com/agri-info-design-public/icons/ic_person_black_48dp.png","Gravatar|null","Custom|null"]},"iconUrl":{"type":"string"},"impersonatingNickname":{"type":"string"},"impersonatingUsername":{"type":"string"},"isEnterprise":{"type":"boolean"},"isFsMigrated":{"type":"boolean"},"isPayer":{"type":"boolean"},"language":{"type":"string"},"name":{"type":"string"},"nickname":{"type":"string"},"purchaseInfo":{"$ref":"#/definitions/PurchaseInfo"},"region":{"type":"string"},"sendMeNews":{"type":"boolean"},"sharedMountPoint":{"type":"string"},"stripeId":{"type":"string"},"systemAdmin":{"type":"boolean"},"systemOfUnits":{"type":"string","enum":["Metric","Imperial"]},"trialAvailable":{"type":"boolean"},"username":{"type":"string"},"zoneinfo":{"type":"string"}}},"ChangePasswordRequest":{"type":"object","required":["currentPassword","newPassword"],"properties":{"currentPassword":{"type":"string","description":"現在のパスワード"},"newPassword":{"type":"string","description":"新しいパスワード"}}},"RtkSettingInfo":{"type":"object","properties":{"basePassword":{"type":"string"},"baseUserId":{"type":"string"},"host":{"type":"string"},"mountpoint":{"type":"string"},"port":{"type":"integer","format":"int32"},"roverPassword":{"type":"string"},"roverUserId":{"type":"string"}}},"ResetPasswordRequest":{"type":"object","required":["email"],"properties":{"email":{"type":"string","description":"Eメール"}}},"UpdateIconRequest":{"type":"object","properties":{"base64EncordedImage":{"type":"string","description":"Base64エンコードされた画像"},"icon":{"type":"string","enum":["Default|https://s3-ap-northeast-1.amazonaws.com/agri-info-design-public/icons/ic_person_black_48dp.png","Gravatar|null","Custom|null"]},"preset":{"type":"string","enum":["Preset1","Preset2","Preset3","Preset4","Preset5","Preset6"]}}},"Number":{"type":"object"},"SimpleSignUpConfirmRequest":{"type":"object","required":["confirmationCode","newPassword","nickName","secureToken","sendMeNews","username"],"properties":{"confirmationCode":{"type":"string"},"newPassword":{"type":"string"},"nickName":{"type":"string"},"secureToken":{"type":"string"},"sendMeNews":{"type":"boolean"},"username":{"type":"string"}}},"InquiryResponse":{"type":"object","required":["number"],"properties":{"number":{"type":"string","description":"お問い合わせ番号"}}},"UpdateWebMarkerRequest":{"type":"object","properties":{"trackColor":{"type":"string"},"trackName":{"type":"string"}}},"UserGroupsInfo":{"type":"object","properties":{"userGroups":{"type":"array","items":{"$ref":"#/definitions/UserGroupInfo"}}}},"OAuthLoginRequest":{"type":"object","required":["appId","deviceId","email","secretHash"],"properties":{"appId":{"type":"string","description":"AgriBus Platformに登録済みのアプリケーションID"},"deviceId":{"type":"string","description":"端末で取得できるデバイスのID"},"deviceManufacturer":{"type":"string","description":"端末製造メーカー"},"deviceModel":{"type":"string","description":"端末デバイス名"},"deviceSystemVersion":{"type":"string","description":"端末OSバージョン"},"email":{"type":"string","description":"Eメール"},"language":{"type":"string","description":"表示言語・en/ja"},"nickname":{"type":"string","description":"Googleから渡された氏名"},"region":{"type":"string","description":"リージョン（your-region.agribus-connect.net を利用して調べてください）"},"secretHash":{"type":"string","description":"アプリケーションシークレットを元にしたハッシュ"},"userMetaData":{"type":"object","description":"ユーザーメタデータ情報","additionalProperties":{"type":"object"}},"username":{"type":"string","description":"GoogleOAuthで発行されるusername"},"zoneinfo":{"type":"string","description":"タイムゾーン"}}},"SimpleSignUpAndSignInRequest":{"type":"object","required":["appId","deviceId","email","password","secretHash","sendMeNews"],"properties":{"appId":{"type":"string","description":"AgriBus Platformに登録済みのアプリケーションID"},"deviceId":{"type":"string","description":"端末で取得できるデバイスのID"},"deviceManufacturer":{"type":"string","description":"端末製造メーカー"},"deviceModel":{"type":"string","description":"端末デバイス名"},"deviceSystemVersion":{"type":"string","description":"端末OSバージョン"},"email":{"type":"string","description":"Eメール"},"language":{"type":"string","description":"表示言語・en/ja"},"password":{"type":"string"},"region":{"type":"string","description":"リージョン（your-region.agribus-connect.net を利用して調べてください）"},"secretHash":{"type":"string","description":"アプリケーションシークレットを元にしたハッシュ"},"sendMeNews":{"type":"boolean"},"userMetaData":{"type":"object","description":"ユーザーメタデータ情報","additionalProperties":{"type":"object"}},"zoneinfo":{"type":"string","description":"タイムゾーン"}}},"Coupon":{"type":"object","properties":{"amountOff":{"type":"integer","format":"int64"},"appliesTo":{"$ref":"#/definitions/AppliesTo"},"created":{"type":"integer","format":"int64"},"currency":{"type":"string"},"deleted":{"type":"boolean"},"duration":{"type":"string"},"durationInMonths":{"type":"integer","format":"int64"},"id":{"type":"string"},"lastResponse":{"$ref":"#/definitions/StripeResponse"},"livemode":{"type":"boolean"},"maxRedemptions":{"type":"integer","format":"int64"},"metadata":{"type":"object","additionalProperties":{"type":"string"}},"name":{"type":"string"},"object":{"type":"string"},"percentOff":{"type":"number","format":"double"},"rawJsonObject":{"$ref":"#/definitions/JsonObject"},"redeemBy":{"type":"integer","format":"int64"},"timesRedeemed":{"type":"integer","format":"int64"},"valid":{"type":"boolean"}}},"InquiryRequest":{"type":"object","required":["content","type"],"properties":{"content":{"type":"string","description":"問い合わせの内容"},"type":{"type":"string","description":"問い合わせの種類","enum":["QUIT"]}}},"Purchase":{"type":"object","properties":{"amountPaid":{"type":"integer","format":"int64"},"autoRenewing":{"type":"boolean"},"billingVendor":{"type":"string","enum":["Google","Stripe"]},"collectionMethod":{"type":"string"},"currency":{"type":"string"},"expiredAt":{"type":"string","example":"2016-01-01T00:00:00.000Z"},"invoiceId":{"type":"string"},"invoiceUrl":{"type":"string"},"orderId":{"type":"string"},"planId":{"type":"string"},"startedAt":{"type":"string","example":"2016-01-01T00:00:00.000Z"},"state":{"type":"string","enum":["Paid","Trial","NotPaid","Canceled"]},"subscriptionId":{"type":"string"}}},"AndroidPurchase":{"type":"object","required":["developerPayload","orderId","packageName","productId","purchaseState","purchaseTime","purchaseToken"],"properties":{"developerPayload":{"type":"string"},"orderId":{"type":"string"},"packageName":{"type":"string"},"productId":{"type":"string"},"purchaseState":{"type":"integer","format":"int32"},"purchaseTime":{"type":"integer","format":"int64"},"purchaseToken":{"type":"string"},"purchased":{"type":"boolean"},"testPurchase":{"type":"boolean"}}},"SignUpInfo":{"type":"object","properties":{"environment":{"type":"string"},"language":{"type":"string"},"passwordEntered":{"type":"boolean"}}},"AppliesTo":{"type":"object","properties":{"lastResponse":{"$ref":"#/definitions/StripeResponse"},"products":{"type":"array","items":{"type":"string"}},"rawJsonObject":{"$ref":"#/definitions/JsonObject"}}},"UserGroupInfo":{"type":"object","properties":{"name":{"type":"string"}}},"StripeInfo":{"type":"object","properties":{"cards":{"type":"array","items":{"$ref":"#/definitions/StripeCard"}},"currency":{"type":"string"},"customerId":{"type":"string"},"email":{"type":"string"},"name":{"type":"string"},"publishableKey":{"type":"string"},"purchases":{"type":"array","items":{"$ref":"#/definitions/Purchase"}}}},"StripePlan":{"type":"object","properties":{"active":{"type":"boolean"},"amount":{"type":"number","format":"double"},"createdAt":{"type":"string"},"currency":{"type":"string","enum":["jpy","usd"]},"id":{"type":"string"},"interval":{"type":"string","enum":["day","week","month","year"]},"intervalCount":{"type":"integer","format":"int64"},"metadata":{"type":"object","additionalProperties":{"type":"string"}},"nickname":{"type":"string"},"plan":{"type":"string","enum":["Free","Standard","Enterprise","Plus","Professional"]},"productId":{"type":"string"},"trialPeriodDays":{"type":"integer","format":"int64"},"updatedAt":{"type":"string"}}},"BillingMetaInfo":{"type":"object","properties":{"doubleBilling":{"type":"boolean"}}},"WebMarkersInfo":{"type":"object","properties":{"webMarkers":{"type":"array","items":{"$ref":"#/definitions/WebMarker"}}}},"AgriBusNaviStatusRequest":{"type":"object","required":["androidPurchases","settings"],"properties":{"androidPurchases":{"$ref":"#/definitions/AndroidPurchases"},"settings":{"type":"object"}}},"JsonArray":{"type":"object","properties":{"asBigDecimal":{"type":"number","format":"double"},"asBigInteger":{"type":"integer","format":"int64"},"asBoolean":{"type":"boolean"},"asByte":{"type":"string","format":"byte"},"asCharacter":{"type":"string"},"asDouble":{"type":"number","format":"double"},"asFloat":{"type":"number","format":"float"},"asInt":{"type":"integer","format":"int32"},"asJsonNull":{"$ref":"#/definitions/JsonNull"},"asJsonPrimitive":{"$ref":"#/definitions/JsonPrimitive"},"asLong":{"type":"integer","format":"int64"},"asNumber":{"$ref":"#/definitions/Number"},"asShort":{"type":"integer","format":"int32"},"asString":{"type":"string"},"jsonArray":{"type":"boolean"},"jsonNull":{"type":"boolean"},"jsonObject":{"type":"boolean"},"jsonPrimitive":{"type":"boolean"}}},"DevicesInfo":{"type":"object","properties":{"devices":{"type":"array","items":{"$ref":"#/definitions/Device"}}}},"SimpleSignUpRequest":{"type":"object","required":["email"],"properties":{"email":{"type":"string","description":"Eメール"},"language":{"type":"string","description":"表示言語・en/ja"},"metaData":{"type":"object","description":"ユーザーメタデータ","additionalProperties":{"type":"object"}},"region":{"type":"string","description":"リージョン（your-region.agribus-connect.net を利用して調べてください）"},"zoneinfo":{"type":"string","description":"タイムゾーン"}}},"StripeSubscribeRequest":{"type":"object","required":["addCardRequest","couponCode","paymentMethodTypes","planId"],"properties":{"addCardRequest":{"$ref":"#/definitions/AddCardRequest"},"couponCode":{"type":"string"},"paymentMethodTypes":{"type":"string"},"planId":{"type":"string"}}},"UpdateStripeCustomerEmailRequest":{"type":"object","properties":{"email":{"type":"string"}}},"ImpersonationRequest":{"type":"object","properties":{"targetUserEmail":{"type":"string"}}},"AndroidPurchases":{"type":"object","properties":{"standardPlan":{"$ref":"#/definitions/AndroidPurchase"}}},"CreateSubscriptionResponse":{"type":"object"},"UpdateSystemOfUnitsRequest":{"type":"object","properties":{"systemOfUnits":{"type":"string","description":"単位","enum":["Metric","Imperial"]}}}}}